@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1560px)
  .product-page
    padding: 24px 0 32px
    margin: 0 0 60px


@media only screen and (max-width: 1500px)
  .article-img-surely, .article-img-attention
    display: none

@media only screen and (max-width: 1300px)
  .order-card .btn
    padding: 10px 18px

  .advantages .container
    padding: 32px


@media only screen and (max-width: 1200px)
  .product-card__img
    height: 240px
    padding: 40px 0 10px

  .product-card__info
    padding: 14px 12px

  .news-card
    &__img
      width: 400px

    &__body
      width: calc(100% - 400px)
      padding: 0 0 0 20px

    &__title
      font-size: 22px

    &__info
      font-size: 14px

  .sidebar
    max-width: 250px

  .wrapper-content
    width: calc(100% - 250px)

  .sales-content
    margin: 0 0 40px

  .sales-box__percent
    font-size: 60px
    line-height: 60px

  .order-card .btn
    padding: 10px 15px

  .callback-box
    padding: 40px

  .form-checkout .consent
    margin: 12px 0 0
    width: 100%
    max-width: none

    a
      display: block

  .product-page
    .col-5, .col-7
      width: 100%

    &__img
      height: 296px
      margin: 0 auto 20px

    &__head
      &-right
        width: 100%
        order: -1
        margin: 0 0 24px
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: row

    h1
      width: 100%
      font-size: 22px
      margin: 0
      max-width: none

  .availability
    margin: 0 0 0 6px

  .productions-company
    &__item
      font-size: 20px

    &__body
      padding: 16.5px 0 0

  .product-card-horizontal
    padding: 32px

    .product-card__img
      width: 217px
      height: 200px
      padding: 0

    .product-card__body
      width: calc(100% - 217px)

  .help-box__img
    height: 100px


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .subscribe
    margin: 36px 0 0

  .product-card
    &__img
      height: 200px

    &__info
      padding: 14px 12px
      font-size: 10px

    &__title
      font-size: 14px

  .rating-icon
    width: 10px
    height: 10px
    margin: 0 4px 0 0

  .news-card
    padding: 40px 0

    &__head
      flex-wrap: wrap

      .news-category
        display: flex
        margin: 0 0 24px

      .link-web
        display: none

    &__img
      width: 100%
      height: auto

    &__title
      max-width: none

    &__body
      width: 100%
      padding: 24px 0 0

    &__footer
      margin: 25px 0 0

      .link-web
        display: flex
        margin-left: auto

      .news-category
        display: none


  .product-card-horizontal
    padding: 20px 16px
    flex-direction: column
    align-items: flex-start

    .product-card__body
      width: 100%
      padding: 10px 0 0

    .product-card__title
      max-width: none

  .products-day-slider .product-card-horizontal
    width: calc(100% - 8px)


  .home-slider
    padding: 40px 0 32px
    background: transparent

  .home
    background: #FAFAFA

  header
    margin: 0

  .home-slider-footer
    padding: 0 16px 32px

  .home-slider__item
    margin: 0 0 135px

  .sub-menu
    padding: 0 30px

  .sidebar
    max-width: none
    padding: 0
    margin: 0 0 20px

  .wrapper-content
    width: 100%
    padding: 0

  .sales-content
    max-width: none

    h3
      margin: 0 0 16px
      font-size: 18px

  .box-text
    font-size: 14px

  .breadcrumb
    margin: 24px 0 16px

  .sales
    h1
      margin: 0 0 40px

  .sales-box
    margin: 0 0 16px

  .mb-80
    margin-bottom: 40px

  h1, .h1
    font-size: 26px

  .politics
    .sidebar
      display: none

  .cabinet-page
    .tabs__caption
      width: calc(100% + 32px)
      margin: 0 -16px
      border-bottom: 1px solid #DEDEDE
      display: flex

    .tabs__body
      border: none
      padding: 40px 0 0

      .wrapper
        margin: 0 0 60px

  .callback-box
    padding: 32px 16px

    form
      max-width: 340px

    h3
      font-size: 22px
      margin: 0 0 20px

  .btn-mobile
    display: flex
    margin: 40px 0 0

  .contacts-page
    .wrapper
      margin: 0 0 60px

    .sidebar
      .btn
        display: none


  .list-contacts
    max-width: none

  .form-checkout__total
    max-width: 400px
    padding: 20px 16px

  .form-checkout__content
    width: calc(100% - 400px)

  .form-checkout button
    max-width: none
    width: fit-content

  .article-page
    padding: 24px 0

    &__head
      margin: 0 0 24px

    .wrapper-content
      max-width: none

    .sidebar
      display: flex
      flex-wrap: wrap
      flex-direction: row
      align-items: center

      .news-date
        width: 50%
        margin: 16px 0 0

      .list-share
        order: inherit
        margin: 24px 0

    h1
      margin: 0 0 24px

  .interesting-box
    position: relative
    width: 100%
    top: 0

  .news-views
    width: 50%
    margin: 16px 0 0

  .news-time
    width: 50%
    margin: 0 0 0 auto

  .news-views, .article-page .sidebar .news-date
    order: 1

  .news-page
    padding: 0

  .page h1, .page .h1
    margin: 0 0 24px

  .list-share
    order: 1
    margin: 24px 0 0

  .mb-40, .mb-60
    margin-bottom: 32px

  .help
    margin: 60px 0 0

    .tabs__caption
      font-size: 22px
      line-height: 130%

      li
        margin: 0 20px 0 0

    .tabs__header
      padding: 0 0 32px

    .tabs__body
      padding: 20px 0 0

  .panel_heading
    margin: 0 0 20px

    .block_title
      h3
        font-size: 18px

  .clients
    margin: 0 0 60px

  .clients-box
    margin: 0 32px 40px 0

  .add-card
    padding: 0 40px

  .product-page
    margin: 0 0 60px

    h1
      margin: 0

    .old-price
      font-size: 18px
      margin: 0 0 0 16px

    .price
      font-size: 22px


  .politics .wrapper-content
    max-width: none

  .home-slider-title
    font-size: 40px

  .home-slider__item .box-text
    margin: 16px 0
    font-size: 16px

  .btn-lg
    height: 50px


  .home-slider .btn
    padding: 0 20px


  .productions-company-list li
    width: 50%
    margin: 0 0 26px

  .col-8
    width: 100%


  .catalog-page
    padding: 0

    .tabs__header
      display: flex

    .mb-40
      margin-bottom: 24px

    h1, .h1
      margin: 0 0 16px

  .sidebar-catalog
    margin: 0

    .sidebar-box
      display: none

  .list-variable
    flex-wrap: wrap

    li
      flex: none
      margin: 0 0 24px
      width: 50%

  .list-variable-item
    min-height: 90px

  .quiz-item__head
    h3
      font-size: 18px

  .modal__div-quiz
    .modal-title
      font-size: 24px
      text-transform: uppercase
    .modal-head
      padding: 0
      align-items: flex-start
      border: none
    .modal-body
      padding: 32px 0 0
      height: auto
    .modal__close
      width: 40px
      height: 40px
      padding: 7px
    .modal__wrapper
      padding: 32px 12px

  .quiz-item
    margin: 0 0 32px
    padding: 0 0 24px

/* Small Devices, Tablets */
@media only screen and (max-width: 860px)
  .products-day-slider .product-card-horizontal
    width: 100%


@media only screen and (max-width: 768px)
  .footer-box
    width: 50%
    margin: 0 0 40px

    &:last-child
      align-items: flex-start

    h4
      margin: 0 0 24px

  .footer-top
    padding: 40px 0 0

  .footer-menu
    font-size: 15px

  .contacts-box
    margin: 0 0 24px

  .footer-bottom
    padding: 24px 0

    .container
      flex-direction: column
      align-items: flex-start

  .copyright
    margin: 10px 0

  .p-16
    padding: 0 8px

  .row
    margin: 0 -8px

  h2, .subtitle
    margin: 0 0 24px
    font-size: 22px

  .top-orders
    margin: 60px 0 0

  .mb-40
    margin-bottom: 24px

  .col-4
    width: 33.3%

  .news-card
    &__title
      font-size: 18px

    .box-text
      font-size: 14px

    &__info li:after
      margin: 0 8px


  .p-120
    padding: 60px 0

  .title-wrapper h2
    width: 100%
    margin: 0 0 16px


  .product-col
    margin-bottom: 24px

  .title-scroll
    h2
      margin: 0 20px 0 0
      width: auto

  .mb-50
    margin-bottom: 32px

  .advantages .container
    padding: 32px 16px
    border:
      bottom: none


  .dots-slick-my
    li
      margin: 0 12px 0 0
      width: 88px

  .header-top
    padding: 12px 0
    display: block

    .list-message
      width: 100%
      flex-wrap: nowrap

      li
        width: 100%
        white-space: nowrap

        &:last-child
          width: fit-content

        &:after
          margin: 0 auto


  .certification-partner
    display: none

  .list-message
    margin: 0

  .search-example .basket-card__title
    max-width: 220px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  .btn-add-toggle
    margin: 32px auto 0

  .sales-box
    padding: 20px

    &__title
      font-size: 18px
      margin: 0 0 8px

    &__footer
      margin: 0
      flex-direction: column
      align-items: flex-start
      height: 100%

    &__price
      font-size: 15px

  .tabs__body
    padding: 30px 0 0

  .tabs__header
    padding: 0 0 20px
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start

  .search-result-val
    margin: 0 0 10px

  .btn-category-tab
    display: flex

  .tabs__caption
    display: none
    margin: 10px 0 0

    li
      width: 100%

  .order-card
    padding: 0 20px 20px

    h3
      margin: 0 0 12px

    .box-text
      font-size: 14px

    .sum-val
      font-size: 18px

    .total-sum
      font-size: 14px

  .order-card__head
    padding: 20px 0
    width: 100%
    border-right: none

  .order-card__footer
    width: 100%
    padding: 20px 0

    &:last-child
      padding: 12px 0 0

  .btn-group
    .btn
      width: 100%
      margin: 0 0 10px

      &:last-child
        margin: 0

  .catalog-page
    .tabs__body
      border: none

    .tabs__header
      padding: 0


    .search-result-val
      margin: 16px 0 0
      width: 100%
      padding: 24px 0 0
      border-top: 1px solid #DEDEDE

  .col-6
    width: 66.6666%

  .callback-box__content
    width: 100%
    max-width: none

  .callback-box
    form
      max-width: none
      margin: 32px 0 0

      label
        margin: 0 0 20px

      button
        margin: 12px 0 0

    h3
      max-width: 256px

  .form-checkout__total
    max-width: none

    .total-sum
      font-size: 18px

    .total-basket
      p
        font-size: 14px

    .basket-card__img
      width: 80px
      height: 80px

    .basket-card__body
      width: calc(100% - 80px)
      padding: 0 0 0 8px

  .form-checkout__total-head
    h4
      font-size: 14px

    .total-sum
      display: block
      font-size: 14px

  .form-checkout__total-body
    display: none

  .btn-drop-toggle
    display: flex

  .form-checkout__content
    order: 1
    width: 100%
    padding: 0
    margin: 40px 0 0

  .form-checkout__content h3
    margin: 0 0 12px
    font-size: 14px
    font-weight: normal

  .form-checkout
    input
      font-size: 15px
      height: 52px

    &__footer
      margin: 32px 0 0

    button
      max-width: 288px
      width: 100%

  .card-list__img
    display: none

  .card-list__body
    width: 100%
    padding: 0

  .btn-add-basket
    padding: 8px 10px
    height: 39px

    span.btn-add-basket__icon
      display: flex

    span.btn-add-basket__text
      display: none

  .card-list
    padding: 16px

  .help
    .tabs__caption
      display: flex

  .wrapper-content h2
    margin: 0 0 32px

  .payment-list
    .number
      min-width: 100px

  .payments
    margin: 38px 0 60px

  .advantages-two .container
    padding: 0 16px

  .product-page__img
    height: 288px

  .product-page
    .col-6
      width: 100%

    .advantages
      position: relative
      margin: 24px 0 0

      .container
        padding: 32px 24px 8px

    .advantages-box
      max-width: none
      flex: none
      width: 50%
      margin: 0 0 24px
      position: relative
      border:
        right: 1px solid #DEDEDE

      &:before
        content: ''
        position: absolute
        left: 0
        bottom: -24px
        width: 100%
        height: 1px
        background: #DEDEDE

      &:nth-child(3), &:nth-child(4)
        margin: 24px 0 0

        &:before
          display: none

      &:nth-child(even)
        border-right: none

    &__body
      &-column
        width: 100%
        padding: 0 0 24px 0
        margin: 0 0 24px
        border: none
          bottom: 1px solid #DEDEDE

        &:last-child
          margin: 0
          padding: 0
          border: none

        &:first-child
          border-right: none

    .amount
      margin-bottom: 0

    .btn-download
      display: none


  .product-page__information
    max-width: none
    padding: 10px 0 0

  .question
    margin: 24px 0 16px

    p
      font-size: 15px

  .product-page__information-footer
    padding: 0
    border: none

  .product-item
    .box-text
      font-size: 14px

    h3
      font-size: 14px

  .links-details
    font-size: 14px

  .information-details
    margin: 0 0 60px

    .wrapper
      margin: 0 0 60px

    .wrapper-content
      width: 100%
      padding: 0

  .product-info-box
    .btn-group
      .btn
        width: fit-content
        margin: 0

      .btn-one-click
        width: 100%
        order: -1
        margin: 0 0 8px

  .header-nav__item-phone, .header-nav__item-telegram
    display: none

  .draw-box
    order: 1
    margin: 24px 0 0

  .attention-box
    &:before
      width: 64px
      height: 57px
      bottom: -5px
      right: 0

    .box-text
      font-size: 12px

  .btn-lg
    height: 44px


  .home-slider-title
    font-size: 32px

  .home-slider__item
    margin: 0 0 95px
    flex-direction: column
    align-items: flex-start

  .home-slider-footer
    padding: 0 16px 32px

  .home-slider__item-image
    order: -1
    margin: 0 auto 24px
    max-width: 500px
    height: 300px

    img
      max-height: 100%

  .home-slider
    padding: 20px 0 0

  .interesting
    padding: 60px 0 40px

  .title-category
    font-size: 22px
    text-transform: none
    font-weight: bold

  .catalog-page
    .tabs__caption
      width: calc(100% + 16px)
      flex-wrap: nowrap
      display: flex

      li
        width: fit-content

    .col-3
      width: 50%

    .col-12-mobile
      width: 100%

    .title-wrapper
      margin: 0 0 24px


  .help-box__img
    height: 230px

  .recommended-wrapper
    overflow: visible
    flex-wrap: wrap

  .recommended-quiz-product
    //width: 100%
    margin: 0 -12px
    flex-wrap: wrap
    .product-card
      width: 50%
      padding: 0 12px
      margin: 0 0 32px

  .analogies-quiz-product
    padding: 0
    border: none

    width: 100%
    min-width: auto
    h4
      font-weight: normal
    .product-card__img
      height: 250px

  .btn-again
    margin: 20px auto

  .modal__div-quiz
    .modal-title
      font-size: 18px

      max-width: 217px

  .modal__div-quiz-result
    .modal-title
      font-weight: normal

  .quiz-item__content
    h4, .box-text
      font-size: 14px



/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .links-details
    font-size: 10px


  .product-card
    &__img
      height: 175px

    .price
      font-size: 15px


  .products-day-slider
    .slick-slide
      margin: 0 8px 0 0

    .product-card-horizontal
      width: 100%
      flex-direction: column
      align-items: flex-start

  .product-card-horizontal
    max-width: 250px

    .product-card__img
      width: 100%
      margin: 0 auto

    .product-card__body
      width: 100%
      padding: 0
      display: flex
      flex-wrap: wrap

    .product-card__title
      font-size: 14px
      width: 100%

    .product-card__info
      font-size: 12px
      width: 100%


    &:hover
      .amount
        display: none

    .price
      font-size: 14px

  .products-day-slider-nav
    display: none

  .progress
    width: 100%

  .productions-company
    &__item
      font-size: 18px

    &__img
      height: 260px

  .productions-company-list li
    width: 100%

    &:last-child
      margin: 0

  .advantages-box
    width: 50%
    margin: 0 0 24px
    flex: none
    border: none
    font-size: 12px
    border-right: 1px solid #DEDEDE
    padding: 0 8px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 0
      bottom: -24px
      width: 100%
      height: 1px
      background: #DEDEDE

    &:nth-child(3), &:nth-child(4)
      margin: 24px 0 0

      &:before
        display: none

    &:nth-child(even)
      border-right: none

    p
      max-width: 136px
      margin: 0 auto


  .home-slider-title
    font-size: 28px

  .home-slider__item .box-text
    font-size: 14px
    margin: 20px 0 40px

  .home-slider .btn
    width: 100%

  .home-slider-footer .progress
    max-width: none

  .container-my
    padding: 0 16px

  header
    border-bottom: 1px solid #DEDEDE

    .btn-cabinet
      display: none


  .header-nav__links
    padding: 0 8px

  .btn-menu__icon
    margin: 0
    width: 25px
    height: 25px


  .header-bottom, .btn-menu__text
    display: none

  .modal__wrapper
    padding: 24px 0 24px 16px

  .modal-head
    padding: 0 0 16px

  .modal-body
    height: calc(100% - 57px - 235px)

  .modal-title
    font-size: 18px

  .modal-footer
    padding: 10px 20px

    .btn
      height: 60px

  .total-sum
    font-size: 18px

  .total-basket
    padding: 0 0 24px

    p
      font-size: 14px

  .promo-code
    margin: 0 0 24px

    input
      font-size: 14px

  .modal__close
    width: 40px
    height: 40px

  .scroll-horizontal
    padding: 0 16px 0 0

  .basket-card
    margin: 0 0 24px
    padding: 0 0 26px

    &__img
      width: 88px
      height: 88px

    &__body
      width: calc(100% - 88px)
      padding: 0 0 0 8px
      position: relative

    &__title
      max-width: 164px
      font-size: 14px

    .amount
      margin: auto 0 0

      input
        width: 29px
        font-size: 12px

      span
        width: 14px
        height: 14px
        padding: 2px

  .links-delete
    position: absolute
    right: 0
    top: 0

    .svg-icon
      display: flex
      align-items: center
      justify-content: center

    .links-accent__text
      display: none

  .modal__div-menu
    .modal__wrapper
      padding: 24px 0 0

    .modal-footer
      padding: 16px 24px
      flex-direction: column
      align-items: flex-start

    .logo
      font-size: 22px
      margin: 0 0 24px

    .contacts-box
      text-align: left
      margin: 0

    .phone
      font-size: 18px

    .btn-cabinet
      display: flex

    .modal-head
      padding: 0 16px 24px

    .modal-title
      margin: 24px 0 0
      font-size: 22px

  .menu-links
    padding: 16px
    width: 100%

  .menu
    font-size: 18px

  .menu-item
    flex-wrap: wrap

  .sub-menu
    width: 100%
    padding: 0 16px
    margin: 32px 0 0
    justify-content: flex-start

    li
      margin: 0 16px 12px 0

      &:last-child
        margin-right: 0

  .menu-links__sub
    border: none

  .form-callback
    .box-text
      margin: 0 0 32px

    label
      margin: 0 0 20px

    input
      font-size: 14px

    textarea
      height: 140px

  .not-account
    margin: 12px 0 32px
    font-size: 18px
    flex-direction: column
    align-items: flex-start

    a
      display: block
      margin: 4px 0 0 0

  .details-order
    margin: 0 0 32px

    li
      span
        font-size: 18px

  .orders-list
    .modal-title
      margin: 0 0 24px

    .basket-card__item
      flex-direction: column
      align-items: flex-start

  .modal__div-search
    .modal__wrapper
      padding: 24px 16px

    .modal__close
      width: 60px
      height: 60px
      padding: 15px

  .form-search
    margin: 0 0 32px

    input
      padding: 7px 40px 19px
      height: 52px
      font-size: 20px

  .search-example
    font-size: 14px

    &__links
      font-size: 14px

    .basket-card__img
      display: none

    .basket-card__body
      padding: 0
      width: 100%

    .btn-add
      width: 36px
      height: 36px

    .basket-card__title
      font-size: 12px

    .price
      font-size: 14px

  .sales-box
    width: 100%

  h1, .h1
    font-size: 22px

  .politics-box h3
    margin: 0 0 24px

  .tabs__body
    padding: 20px 0 0


  .form-cabinet .form-group label
    width: 100%

  .cabinet-page
    .title-wrapper
      flex-direction: column
      align-items: flex-start

      h1
        margin: 0 0 24px

  .help-box
    h3
      font-size: 18px

    &__body
      width: 100%
      order: 1
      padding: 32px 24px


    &__img
      width: 100%
      padding: 0
      height: 190px

  .help-box-row
    .help-box
      &__img
        height: 190px
        width: 100%

      &__body
        width: 100%

  .col-6, .col-12-mob
    width: 100%

  .form-help
    margin: 20px 0 0

  .list-contacts
    li
      margin: 0 0 20px
      padding: 0 0 20px
      flex-direction: column
      align-items: flex-start

      span
        display: block
        margin: 4px 0 0

    &__links
      font-size: 14px

      &-phone
        font-size: 18px

  .list-requisites
    li
      margin: 0 0 10px
      padding: 0 0 10px

      span
        margin: 10px 0 0

  .contacts-page
    .btn-mobile
      width: 100%

  .card-list__title
    max-width: 207px
    width: 100%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .article-page
    .box-text
      font-size: 14px

  .list-dots
    font-size: 14px
    line-height: 150%

    li
      padding: 0 0 0 16px

      &:before
        width: 4px
        height: 4px

  .article-page .politics-box h3
    margin: 0 0 16px

  .col-7, .col-5
    width: 100%

  .article-images
    .mb-60
      margin-bottom: 16px

  .article-img__name
    margin: 12px 0 0

  .btn-play
    width: 60px
    height: 60px

    .svg-icon
      width: 12px
      height: 12px

  .video-box__footer
    flex-direction: column
    align-items: flex-start

  .video-box__title
    width: 100%
    margin: 0 0 4px
    font-size: 14px

  .read-recommendation h2
    margin: 0 0 10px

  .clients-box
    max-width: 240px

    &__logo
      padding: 0 0 32px
      filter: none

    &__body
      padding: 32px 0 0

    h3
      margin: 0 0 16px
      font-size: 18px

    .box-text
      font-size: 14px

  .payment-list
    font-size: 14px
    align-items: stretch
    justify-content: space-between

    li
      width: calc(50% - 17px)
      margin: 0 0 32px
      padding: 0 0 12px 0

      .number
        display: none

      &:last-child
        width: 100%
        margin: 0

  .advantages-two
    .advantages-box
      width: 100%

      &:nth-child(2), &:nth-child(3)
        order: initial

      .box-text
        max-width: none
        width: 100%

        p
          max-width: none

  .product-page
    h1
      margin: 0

    &__information-footer
      flex-direction: column
      align-items: flex-start

      .btn
        width: 100%
        padding: 0 15px

    .list-radio
      width: 100%
      margin: 0
      flex-wrap: nowrap

      li
        width: 50%

    .advantages-box
      font-size: 12px

      &:nth-child(2), &:nth-child(3)
        order: initial

  .add-card
    padding: 0 15px

  .amount .up, .amount .down
    width: 50px

  .link-mini
    font-size: 10px

  .product-info-box
    &__head
      .link-differences
      display: block

    &__body
      .link-differences
      display: none


  .list-characteristics
    line-height: 150%

    li
      margin: 0 0 16px
      flex-wrap: nowrap


  .information-details .tabs__caption li
    min-width: 160px

  .information-details
    .list-characteristics
      font-size: 12px

      li
        flex-direction: row


  .politics-box
    .box-text
      font-size: 14px

      p
        margin: 0 0 16px

  .question-column
    width: 100%
    padding: 0
    border: none
    margin: 0 0 32px

    &:last-child
      margin: 0

  .question-box
    h3
      font-size: 14px

    .box-text
      font-size: 12px

  .list-labels
    font-size: 8px

    li
      padding: 4px

  .link-all
    font-size: 10px
    font-weight: normal

  .form-subscribe
    max-width: 288px
    margin: 0

  .subcategory
    font-size: 14px
    width: 100%
    margin: 5px 0 0

  .catalog-page .btn-add-toggle
    display: flex

  .recommended-quiz-product .product-card__img
    height: 136px



@media only screen and (max-width: 480px)
  .list-payment
    margin: 24px 0 0

  .footer-box
    width: 100%

    .phone
      font-size: 18px

    .mail
      font-size: 14px

  .subscribe
    padding: 32px 0

  h3
    font-size: 18px

  input
    font-size: 14px

  .col-4
    width: 50%


  .col-6, .col-12-mob
    width: 100%

  .catalog-page
    .product-col
      display: none

      &:nth-child(-n+11)
        display: block

  header .logo
    transform: translate(20%, 0)

@media only screen and (max-width: 370px)
  .news-card__info
    font-size: 12px

  .product-card__info
    padding: 12px 7px

