@import "fonts"
@import "vars"

.product-page
  margin: 0 0 80px
  padding: 80px 0 60px

  .advantages
    margin: 62px 0 0
    border: none
    width: 100%
    background: #fff

    .container
      padding: 32px 24px
      border: none

  .advantages-box
    font-size: 16px
    line-height: 120%
    padding: 0 8px

    &__icon
      border: none
      border-radius: 0
      padding: 0
      width: 24px
      height: 24px
      margin: 0 auto 8px

  .prev-links
    position: relative
    margin: 0 0 16px
  &__img
    width: 100%
    height: 473px
    background: #FAFAFA
    display: flex
    align-items: flex-start
    justify-content: center

    img
      max-height: 100%

  &__information
    width: 100%

    &-footer
      width: 100%
      display: flex
      align-items: center
      flex-wrap: wrap
      margin: 0 0 40px
      padding: 0 0 30px
      border-bottom: 1px solid #DEDEDE

  h1
    margin: 0 auto 0 0
    font-size: 28px
    font-weight: 600
    max-width: 558px
    width: calc(100% - 173px)

  &__head
    width: 100%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    padding: 0 0 24px
    border-bottom: 1px solid #DEDEDE
    margin: 0 0 24px

    &-right
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: flex-end

  &__body
    width: 100%
    display: flex
    align-items: stretch
    flex-wrap: wrap
    &-column
      width: 50%
      padding: 0 24px
      display: flex
      flex-direction: column
      &:first-child
        border-right: 1px solid #DEDEDE
        padding-left: 0
      &:last-child
        padding-right: 0
        border: none

  .rating-val
    margin: 0 0 0 12px

  .amount
    margin: 0 8px 16px 0

  .price-wrapper
    width: 100%
    display: flex
    align-items: center
    margin: 0
  .old-price
    margin: 0 0 0 24px
    text-decoration-line: line-through
    color: #7D7D7D
    font-size: 24px
  .price
    font-size: 28px
    font-weight: 600
  .btn-group
    justify-content: flex-start
  .list-radio
    margin: 0 16px 0 0
    width: fit-content

.product-form
  width: 100%
  label
    margin: 0 0 24px
    input
      height: 56px

.draw-box
  width: 100%
  color: #ffffff
  position: relative
  z-index: 1
  padding: 16px
  background: #219653
  margin: 0 0 32px
  .box-text
    max-width: 192px
  &:before
    content: ''
    position: absolute
    z-index: -1
    bottom: 0
    right: 0
    width: 123px
    height: 74px
    background: url("../img/sale-pc.png") no-repeat center
    -webkit-background-size: 100%
    background-size: 100%

.hot-offer
  display: flex
  align-items: center
  padding: 4px 8px
  background: #EB5757
  color: #ffffff
  font-size: 10px
  text-transform: uppercase
  font-weight: 500
  line-height: 130%

  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 16px
    height: 16px
    min-width: 16px
    margin: 0 4px 0 0

.list-radio
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  li
    margin: 0 8px 0 0
    &:last-child
      margin: 0

.availability
  font-size: 12px
  margin: 12px 0 0

.product-info-box
  width: 100%
  padding: 0 0 24px
  margin: 0 0 24px
  border-bottom: 1px solid #DEDEDE
  &:last-child
    margin: 0
    padding: 0
    border: none
  &__body
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
  &__head
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: 0 0 12px
    .link-mini
      margin-left: auto
    .link-differences
      display: none

.add-card
  padding: 0 44px

.product-item
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

  h3
    margin: 0 0 16px
    width: 100%
    text-transform: uppercase
    font-size: 18px
    font-weight: 600

  .box-text
    color: #666666
    font-size: 16px
    line-height: 150%

    span
      color: #202020

.link-mini
  width: fit-content
  font-size: 12px


.links-details
  margin: 16px 0 0
  color: #202020
  font-size: 14px
  text-transform: uppercase

.information-details
  margin: 0 0 80px

  //.tabs__header
  //  padding: 0
  //
  //.tabs__caption
  //  color: #202020
  //  width: 100%
  //  margin: 0
  //  display: flex
  //
  //  li
  //    width: fit-content
  //    padding: 20px
  //    min-width: 170px
  //
  //.tabs__body
  //  padding: 80px 0 0
  //
  //.sidebar
  //  max-width: 50%
  //  padding: 0 16px 0 0
  //
  //.wrapper-content
  //  width: 50%
  //  padding: 0 0 0 16px
  //
  //.wrapper
  //  margin: 0 0 100px
  //
  //  &:last-child
  //    margin: 0

  .politics-box
    h3
      text-transform: none

    .list-dots
      max-width: 500px
      margin: 30px 0 0

      li
        padding: 0 0 0 17px

        &:before
          top: 10px
          transform: none
          width: 5px
          height: 5px
          background: #202020

    .box-text
      max-width: 637px

  .panel_heading
    &:first-child
      border-top: 1px solid #DEDEDE


.delivery-box
  .box-text
    max-width: 550px

.list-characteristics
  width: 100%
  font-size: 15px

  li
    border-bottom: 1px solid #DEDEDE
    margin: 0 0 20px
    padding: 0 0 10px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

    &:last-child
      margin: 0

    span
      display: flex
      align-items: center
      text-align: right

    p
      font-weight: bold

.icon-os
  margin: 0 0 0 8px

.card-list-fixed
  width: 100%
  z-index: 5
  bottom: 0
  left: 0
  position: fixed
  border-top: 1px solid #DEDEDE
  display: none

.question-row
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap

.question-column
  width: 50%
  padding: 0 40px
  border-right: 1px solid #DEDEDE

  &:first-child
    padding-left: 0

  &:last-child
    padding-right: 0
    border: none

.question-box
  margin: 0 0 32px

  &:last-child
    margin: 0

  h3
    font-size: 15px
    text-transform: uppercase
    font-weight: bold
    margin: 0 0 8px

.list-default
  list-style: disc
  padding: 0 0 0 20px

.attention-box
  width: 100%
  margin: 24px 0 0
  position: relative
  overflow: hidden
  z-index: 1
  background: #FCE1DC
  padding: 24px

  &:before
    content: ''
    position: absolute
    right: 11px
    bottom: 0
    width: 111px
    height: 76px
    background: url("../img/attention-icon.svg") no-repeat center
    -webkit-background-size: 100%
    background-size: 100%
    z-index: -1

  .box-text
    max-width: 605px
